/* css for header section with menu */
header.em-header{
    background: rgba(0, 0, 0, 0.8);
    /* height: 105px; */
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.navbar-nav>li.dropdown:hover .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: #2c99ce !important;
}
.page-header-top-right .navbar-default{
    border: none;
}
.navbar-primary-collapse ul li a{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif !important;
    font-weight: normal !important;
    color: #cccccc !important;
}
.navbar-toggle{
    background-color: #00a8e1;
    border: 1px solid #00a8e1;
}
.navbar-default .navbar-toggle {
    border-color: #00a8e1;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #00a8e1;
}
/* css for footer section with menu */
section.section.section-footer-widgets.dark.footer_sec, section.section.section-footer-bottom.dark.footer_copy{
    background: #000;
}
section.section.section-footer-widgets.dark.footer_sec{
    border-top: 5px solid #00a8e1;
}
.em-fotter-bottom-border{
    border-bottom: 1px solid #908f8f;
    padding-bottom: 60px;
}
.section.dark.footer_sec{
    border-bottom: none !important;
    padding-bottom: 0px !important;
}
.em-footer-sidebar .foot-logo-contents p{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 30px;
    color: #908f8f;
}
.em-footer-sidebar h1.widget-title{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif !important;
    font-weight: 900 !important;
}
.em-footer-sidebar .news-contents h4{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif !important;
    font-weight: normal;
}
.em-footer-sidebar .news-contents a:focus, .em-footer-sidebar .news-contents a:hover, .em-footer-sidebar .footer-left-content a:hover, .em-footer-sidebar .footer-left-content a:focus{
    outline: none;
    text-decoration: none;
}
.em-footer-sidebar .news-contents p, .em-footer-sidebar .footer-left-content p{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    line-height: 30px;
    color: #908f8f;
}
.section-footer-bottom.dark.footer_copy p.footer-bottom-text{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif !important;
    font-size : 14px;
    color : #a6a6a6;
}
.em-footer-top-contact h1{
    font-family: 'Open sans', Helvetica, Arial, sans-serif;
    font-size: 30px;
    color : #00a8e1;
    text-transform: uppercase;
}
.em-footer-top-contact{
    margin: 50px 0px 30px 0px;
}
.em-footer-top-contact p{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif;
    font-size: 18px !important;
    color : #6d6d6d !important;
    line-height: 40px;
}
.latest-text i.fa.fa-chevron-right{
    padding-left: 5px;
    font-size: 12px;
}
/* css for home revolution slider */
.em-home-slider .tp-caption.tp-resizeme{    
    text-transform: uppercase;    
    font-style: normal;
}
.em-home-slider{
    position: relative;
}
/* css for home page content sections */
.em-home-section-text p{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-size: 23px;
    line-height: 45px;
    color: #6d6d6d;
    text-align: center;
    font-weight: bold;
}
.em-home-section-text, .em-home-section-title{
    margin-top: 40px;
}
.em-home-section-title h2{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-size: 45px;
    color: #6d6d6d;
    text-transform: uppercase;
}
.em-section-titles{
    text-align: center;
}
.em-section-titles span.section-title-icon{
    font-size: 40px;
    padding: 0 20px;
    color: #00a8e1;
    font-size: 3.2vw;
}
.em-section-titles a{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-size: 45px;
    color: #6d6d6d;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 2.3vw;
    line-height: 1;
}
.em-section-titles a:hover{
    color: #00a8e1;
}
.em-section-titles a:hover, .em-section-titles a:focus{
    text-decoration: none;
    outline: none;
}
.home-product-section{
    padding: 80px 0px 0px 0px;
}
.home-product-section h1{
    font-family: 'Open sans', Helvetica, Arial, sans-serif !important;
    font-style: normal;
    font-size: 40px;
    color: #00a8e1;
    font-weight: 100;
    padding-bottom: 50px;
    font-size: 3vw;
}
.tp-caption.hero--body{
    font-family: "Lato",Raleway,Helvetica,Arial,sans-serif !important;
}
.home-product-section a.home-product-button{
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif !important;
    font-size: 16px !important;
    color: #00be5e;
    border: 2px solid #00be5e;
    font-weight: bold !important;
    padding: 15px 25px !important;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1.3vw !important;
}.home-product-section a.home-product-button:hover{
    text-decoration: none;
    outline: none;
    color: #00a8e1;
    border: 2px solid #00a8e1;
}
.section.dark.footer_sec .textwidget a.footer-social i:hover {
    color: #00a8e1;
}
/* Responsive css */
/*Media Query*/
@media only screen and (min-width:1220px){
    .tp-rightarrow.tparrows.uranus.noSwipe{
        transform: matrix(2, 0, 0, 2, -250, -25) !important;
    }
    .tparrows:before{
        color: rgba(255, 255, 255, 0.28) !important
    }
    .tp-leftarrow.tparrows.uranus.noSwipe{
        transform: matrix(2, 0, 0, 2, 250, -25) !important;
    }
}
 @media only screen and (min-width:320px) and (max-width: 768px) {
     header.em-header{
        height: auto;
        display: block;
    }
    .em-section-titles a{
        font-size: 3.7vw;
    }
    .home-product-section a.home-product-button{
        font-size: 3.3vw !important;
        padding: 5px 10px !important;
    }
    .home-product-section h1{
        font-size: 5vw;
    }
    .nav>li{
        padding: 10px 5px;
    }
    .em-home-section-text, .em-home-section-title{
        margin-top: 0px;
    }
    .section.dark.footer_copy {
        padding-top: 15px !important;
        padding-bottom: 10px !important;
        text-align: center;
    }
    .home-product-section{
        padding: 0px 0px;
    }
    .home-product-section h1{
        padding-bottom: 0px;
    }
    .em-home-section-text p{
        font-size: 20px;
        line-height: 40px;
    }
}
@media only screen and (min-width:320px) and (max-width: 768px) {
    .em-section-titles a {
        font-size: 3.5vw;
    }
}
@media only screen and (min-width:320px) and (max-width: 464px) {
    .em-home-section-text p {
        font-size: 18px;
        line-height: 35px;
    }
}
@media only screen and (min-width:320px) and (max-width: 420px) {
    .em-home-section-text p {
        font-size: 15px;
        line-height: 30px;
    }
}
