/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import 'flexvideo.css';
@import 'fix-bootstrap.css';
img.aligncenter {
    display: block;
    margin: 0 auto;
}
/* ancient-browser-alert error */
.ancient-browser-alert {
    background: #a00;
    color: #faa;
    display: block;
    padding: 3px 0;
    text-align: center;
}
.ancient-browser-alert a {
    color: #fff;
    text-decoration: underline;
}
.pagination {
    margin: 0;
}
.pagination-center {
    text-align: center;
}
.pagination-row {
    margin-bottom: 20px;
}
.required {
    color: #f00;
}
.row-with-vspace {
    margin-bottom: 20px;
}
.site-main .format-aside {
    background: #f5f5f5;
}
.site-main .format-image {
    background: url('../img/content-post-format-image.png') left top no-repeat;
}
.site-main .format-link {
    background: url('../img/content-post-format-link.png') left top no-repeat;
}
.site-main .format-quote {
    background: url('../img/content-post-format-quote.png') left top no-repeat;
}
.site-main .format-video {
    background: url('../img/content-post-format-video.png') left top no-repeat;
}
.site-title > a {
    text-decoration: none;
}
.site-title > div {
    height: auto;
    line-height: 18px;
}
.site-title .site-description {
    color: #999;
    font-size: 16px;
}
.site-title .site-title-heading {
    margin: 0;
}
.widget_calendar #wp-calendar {
    margin: 0;
}
.widget_calendar #wp-calendar #next {
    text-align: right;
}
#comments .comment-navigation {
    margin-bottom: 0;
}
#comments .comment-navigation-below {
    margin-bottom: 20px;
    margin-top: 15px;
}
#comments .media-list li .media {
    margin-top: 15px;
}
#comments .media-list li .media .media-body {
    border: 1px solid #eee;
    padding: 10px;
}
#comments .media-list li .media .media-body .comment-author {
    font-size: 12px;
    margin-bottom: 10px;
}
#comments .media-list ul.children {
    list-style: none;
    margin-left: 2.5em;
}
#main-column .wp-video-shortcode {
    display: block;
    height: auto;
    max-width: 100%;
}
#main-column .attachment .entry-content {
    margin-bottom: 20px;
}
#main-column .attachment .entry-content .attachment {
    text-align: center;
}
#main-column .attachment .entry-meta {
    margin-bottom: 20px;
}
#main-column .post {
    margin-bottom: 20px;
}
#main-column .post .entry-header .entry-meta {
    color: #9A9A9A;
    font-size: 14px;
}
#main-column .post .entry-header .entry-meta a {
    color: inherit;
}
#main-column .post .entry-header .entry-meta .posted-on .updated {
    display: none;
}
#main-column .post .entry-meta .categories-icon {
    cursor: default;
}
#main-column .post .entry-meta .comments-link a {
    color: #333;
}
#main-column .post .entry-meta .comments-link a .comment-icon .comment-total,
#main-column .page .entry-meta .comments-link a .comment-icon .comment-total {
    color: #555;
    font-size: 12px;
    margin-left: 5px;
}
#main-column .attachment .edit-post-link a, 
#main-column .attachment .entry-meta .edit-post-link a, 
#main-column .post .entry-meta .edit-post-link a,
#main-column .page .entry-meta .edit-post-link a {
    color: #333;
}
#main-column .post .entry-meta .tags-icon {
    cursor: default;
}
#main-column .attachment .entry-title, 
#main-column .post .entry-title,
#main-column .page .entry-title {
    margin-top: 0;
    word-wrap: break-word;
}
#sidebar-left .widget,
#sidebar-right .widget {
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px;
}
#sidebar-left .widget ul,
#sidebar-right .widget ul {
    padding-left: 20px;
}
#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title,#sidebar-right .widget-title {
    margin-top: 0;
    padding-bottom: 15px;
    line-height: 40px;
    font-size: 18px;
    color: #9A9A9A;
    font-weight: 500;
}
#sidebar-left .widget .widget-title:after, #sidebar-right .widget .widget-title:after{
    background-color: #2c99ce;
    display: block;
    content: '';
    height: 3px;
    position: relative;
    bottom: -2px;
    width: 20%;
}
#sidebar-left .widget .widget-title, #sidebar-right .widget .widget-title, #sidebar-right .widget-title{
    border-bottom: 1px solid #efefef;
    padding-bottom: 0;
}
#sidebar-right #recent-posts-2 ul li{
	position: relative;
    list-style: none;
}
#sidebar-right #recent-posts-2 ul li:after{
    content: '\f105';
    font-family: 'FontAwesome';
    font-size: 14px;
    float: left;
    line-height: 100%;
    position: absolute;
    left: -14px;
    top: 4px;
    -webkit-font-smoothing: antialiased;
}
#site-footer {
    background: #f5f5f5;
    border-top: 3px solid #ddd;
    font-size: 12px;
    padding: 10px;
}
.fixed{
    position: fixed !important;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    background: #fff;
    z-index: 99;
    box-shadow: 2px 0px 6px #6B6B6B;
}
.page-title h1{
    color:#ffffff;
    float: left;
    font-size:45px;
    height: 200px;
    position: relative;
    top:135px;
    left:20px;
    line-height: 1.2;
    font-weight: 400;
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif;
}
#solutions-list .sol-title h2{
    color: #0099cc !important;
}
#solutions-list .sol-contents{
    color: #6d6d6d !important;
    font-size: 17px;
}
.em_home_txt a{
    font-size: 30px;
    color: #0099cc;
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif;
}
.em_home_txt a:hover{
    text-decoration: none;
}
.em-testimonial-space{
    padding: 70px 0 90px 0;   
}
.cbp-testi-content b{
    font-size:20px;
}
.testimonials-slider small{
    margin-left: 15px;
    font-size: 23px;
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif;
    font-weight: 100;
}
.em_solution_text p{
    font-size: 20px !important;
}
.error-404 h1.page-title{
    text-align: center;
    padding: 90px 0 0 0 !important; 
    margin-bottom: 0px !important;
    font-size: 185px;
    font-weight: bold;
    font-size: 13vw;
}
.error-page-data h1,.error-page-data h3{
    text-align: center;
    padding-bottom: 10px;
}
.link_button{
    border: 2px solid;
    border-radius: 30px;
    width: 100%;
    margin: 0 auto;
    background-color: #093c70;
    max-width: 300px;        
}
.error-404 .page-header{
    border-bottom: none;
}
.link_button a{
    color:#fff;
    font-size: 25px;
}
.link_button a:hover{
    text-decoration: none;
}
.page-error-content {
    text-align: center;
    font-size: 25px;
    color:#093c70;
}
.entry-header > a:hover{
    text-decoration: none !important;
}
/*Media Query*/
@media only screen and (min-width:320px) and (max-width: 768px) {
    .error-404 h1.page-title{
        padding-top: 29px !important;
    }
    .em-footer-top-contact{
        margin: 15px 0px 15px 0px !important;
    }
    .em_home_txt a{
        font-size: 22px;
    }
    .em_solution_text p{
        font-size: 15px !important;
    }
    .solution-thumb{
        text-align: center;
        padding-bottom: 20px;
    }
    .sol-right-contents .sol-title h2{
        text-align: center !important;
        padding-bottom: 20px;
    }
    .sol-contents{
        text-align: center;
        padding-bottom: 20px;
    }
    .tslider blockquote p{
        font-size: 20px !important;
    }
    .em-testimonial-space{
        padding: 0px !important;
    }
    .cbp-testi-content small{
        text-align: center;
    }
    .cbp-testi-content b{
        display: table;
        margin: 0 auto;
    }
    .em-footer-top-contact h1{
        font-size: 22px !important;
    }
    .section.light.footer_light .button.medium{
        padding: 10px 25px !important;
    }
    .em-footer-top-contact p{
        line-height: 27px !important;
    }
    #solutions-list .sol-title h2{
        font-size: 22px !important;
    }
    .em-testimonial-space .wpb_content_element{
        padding-bottom: 20px !important;
    }
}
@media only screen and (min-width:481px) and (max-width: 991px) {
    .page-title h1{
        font-size: 30px !important;
    }
}
@media only screen and (max-width: 1024px) {
    .em-testimonial-space{
        padding: 0px;
    }
    .tslider .cbp-qtcontent img{
        margin-top: 0px !important; 
    }
    .em-footer-sidebar .textwidget img{
        width:50%;
    }
    .page-title h1{
        top:110px !important;
    }
}
/*@media (min-width: 768px){
.container {
    width: inherit;
}
}*/