/*
Theme Name: Elemental machine
Theme URI: 
Author: Elemental machine
Author URI: elemental machine
Description: This theme is used for the managing the elemental machine
Text Domain: Elemental machine
Domain Path: /languages/
Tags: white, gray, light, one-column, two-columns, three-columns, left-sidebar, right-sidebar, custom-background, custom-menu, featured-images, front-page-post-form, post-formats, threaded-comments, translation-ready

*/

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
    src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
        url('fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
/*
Required WordPress CSS
*/
body{
    font-family: "Raleway",Helvetica,Arial,sans-serif;
	color: #555555;
	font-size: 16px;
	line-height: 2.0;
}
#main-column .post, #main-column .page{
    /*margin-bottom: 0px !important; 
    padding: 0px !important;*/
}
.row-with-vspace{margin-bottom: 0px !important;}

.page{
    border: none !important;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.bypostauthor {
}

/*Universal*/
h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
	margin:0 0 10px;
	padding:0;
	
}

h1 {
	font-size:45px;
	line-height:1.2;
	color:#ffffff;
	font-weight: 300;
	text-transform: inherit;
	
}
h2 {
	font-size:30px;
	line-height:1.25;
	color:#06a7e0;
    font-weight: 300;
}
h3 {
	font-size:25px;
	line-height:1.3;
	color:#06a7e0;
    font-weight: 300;
}
h4 {
	font-size:16px;
	line-height:1.4;
}
h5 {
	font-size:1em;
	line-height:1.6;
}
h6 {
	font-size:12px;
	line-height:1.6;
}

sup{
   font-size: 50%;
   top: -0.9em;
}
#logo img{
    width:200px;
}
/* WordPress gallery */
.gallery-caption {
}
.gallery {
	margin-bottom: 1.6em;
}
.gallery-item {
	display: inline-block;
	padding: 1.79104477%;
	text-align: center;
	vertical-align: top;
	width: 100%;
}
.gallery-columns-2 .gallery-item {
	max-width: 50%;
}
.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
	max-width: 25%;
}
.gallery-columns-5 .gallery-item {
	max-width: 20%;
}
.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}
.gallery-icon img {
	margin: 0 auto;
}
.gallery-caption {
	color: #707070;
	color: rgba(51, 51, 51, 0.7);
	display: block;
	font-family: "Noto Sans", sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.5;
	padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}



.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/*header*/
.site-title{
    margin-top: 12px;
}
.page-title {

 padding: 90px 0;
 margin-bottom: 60px;
 background-repeat: no-repeat;
 background-size: contain;
 background-position: center;
 width: 100%;
}
.navbar-header{
  float: right;
}
/* Menu */
.page-header-top-right .navbar-default {
     background-color: transparent !important; 
     border-color: #fff;
     box-shadow: none !important; 
     background-image: none !important;
}
.navbar-primary-collapse ul li a{
    font-size: 15px;
    font-family: 'Open sans', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a{
    color: #333333;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, ul.sub-menu.dropdown-menu li a:hover{
    color: #2c99ce !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{
    background-color: #FFF;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #333333;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, ul.sub-menu.dropdown-menu li.active a{
    background-color: rgba(0, 0, 0, 0);
     color: #2c99ce !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #FFF;
    color: #2c99ce;
}
.dropdown-menu{
   background-color: rgba(255,255,255,0.9);
}
.navbar-nav>li.dropdown .dropdown-menu a{
    text-transform: capitalize;
}
.navbar-nav > li > a{
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-nav>li.dropdown:hover .dropdown-menu{
    background-color: rgba(255,255,255,0.9);
}
.navbar-nav>li.dropdown:hover .dropdown-menu a{
    color: #333333;
    background: transparent;
}
.navbar-nav>li.dropdown:hover .dropdown-menu li.active a{
    color: #2c99ce;
}
.navbar-nav>li.dropdown:hover .dropdown-menu a:hover{
    background: transparent;
    color: #2c99ce;
}

.navbar-nav>li>.dropdown-menu{
    border: none;
   -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-primary-collapse .dropdown-menu>li>a{
     padding: 8px 20px;
}

/* Blog Listing */
.blog #sidebar-right .search-form.form .btn.btn-default, .single #sidebar-right .search-form.form .btn.btn-default{
    background: #00C1CF;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: none;
    border-color: #00C1CF;
    text-shadow: none;
}
.entry-header {
    margin: 0 0 20px;
}
.entry-title {
    font-size: 1.846em;
    margin: 10px 0 10px;
}
.entry-title a {
    color: #292929;
}
.entry-meta {
    color: #9A9A9A;
}
.entry-date {
    color: #2c99ce;
    margin-bottom: 15px;
}
.entry-featured {
    margin: 0 0 25px;
    padding: 5px 0 0;
}
.navbar-default .navbar-nav li:last-child a{
    padding-right: 0;
} 
.entry-featured img{
    width:100%;
    height: auto;
}
.entry-more-link {
    padding: 29px 0 0;
    padding: 29px 0 0;
}
.entry-more-link .more-link{
    background-color: #00C1CF;
    color: #f7f7f7;
    border-radius: 5px;
    padding: 15px 22px;
    font-size: 14px;
}
.entry-more-link a span{
    padding-left: 15px;
}
.entry-more-link .more-link:hover{
    text-decoration:none;
    color: #f7f7f7;
    background-color: #00a4b0;
}

.blog article {
    border-bottom: 1px solid #EFEFEF;
    margin: 0 0 30px 0;
    padding: 0 0 12px 0;
    position: relative;
}

.icon.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    color: #292929;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 24px;
    padding: 5px 10px;
    display: inline-block;
}

h1.widget-title{
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 15px;
    line-height: 40px;
}
/*h1.widget-title:after{
    background-color: #3498DB;
    display: block;
    content: '';
    height: 1px;
    position: relative;
    bottom: -3px;
    width: 20%;
}
*/
/* HOME PAGE */
.em_home_txt{
    font-weight: regular;
    color: #6d6d6d;
    font-size: 16px;
}
.home_row2{
   margin-top:40px; 
}
.home_row3{
     margin-top:40px; 
}
.home_row4{
    margin-top:40px; 
}
.home_row5{
    margin-top:40px;
}

.em_home_more{
    font-size: 16px;
    font-weight: bold;
} 
.vc_btn3.vc_btn3-color-white{
    
}
/* Footer */
.callout{
    display: table;
    width: 100%;
}
.footer-bottom-text {
    font-size: 13px;
}

#nav_menu-2 ul li {
    float: left;
    list-style-type: none;
    line-height: 0;
}
#nav_menu-2 ul li a{
    padding-left: 47px;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
#nav_menu-2{
    display: inline;
    clear: both;
    overflow: hidden;
}

.section-footer-widgets .footer-right-side {
    float: left;
}

.section.light.footer_light{
    background: url(img/contact-section-background.png) no-repeat !important;
    padding-top: 100px;
    padding-bottom: 0;
    position: relative;
    background-size: cover !important;
    background-position: center center !important;
}
.section.light.footer_light p{
    color: #fff;
    font-size: 24px;
    text-align: left;
}
.callout-button {
    display: table-cell;   
    /*text-align: right;*/
    padding-left: 55px;
}
.callout-text {
    text-align: center;
    padding: 0;
}
.content-header h4 {
    font-size: 20px;
    color: #555555; 
}
.section.light.footer_light .button.medium{
    font-size: 15px;
    border: 2px solid #00a8e1;
   /*  background-color: #00c1cf;*/
    color: #00a8e1;
    border-radius: 5px;
    padding: 15px 25px;
    font-family: 'Lato',Open sans, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.section.light.footer_light .button.medium:hover{
    color: #0790be;
    border: 2px solid #0790be;
}
.section.light.footer_light .button.medium{
    text-decoration: none;
}
.section.dark.footer_sec{
    padding: 60px 0px;
    border-bottom: 1px solid #ccc;
    font-size: 14px !important;
    color: #908f8f;
}
.section.dark.footer_sec .textwidget a.footer-social i {
    font-size: 30px;
    margin: 15px 15px;
    color: #908f8f;
    line-height: 25px;
    opacity: 0.8;
    text-align: left;
    margin-left: 0;
   
  
}
section.dark.footer_sec .textwidget a.footer-social {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50px;    
    text-align: center;
    margin:5px;
}
section.dark.footer_sec .textwidget a.footer-social:last-child{
    margin-right: 16px;
}
.section.dark.footer_copy{
    padding-top: 30px;
    padding-bottom: 10px;
}
.section.dark.footer_sec h1{
    font-size: 16px !important;
    color: #a6a6a6;
    text-transform: uppercase;
    font-weight: 600;    
}

.section.dark.footer_sec .info{
      color: #337ab7;
}

.entry-content .cu-visualize-left, .entry-content .cu-alert-left, .entry-content .cu-element-left, .entry-content .cu-em-alert-left ,.entry-content .cu-em-overview-left{
    float: right;
}
.entry-content .cu-visualize-right,.entry-content .cu-alert-right,.entry-content .cu-element-right, .entry-content .cu-em-alert-right,.entry-content .cu-em-overview-right {
    float: left;
}



/*product page */
.vc_btn3-container.cu-learn-more.vc_btn3-inline a {
    color: #0ccccc;
    border-color: #00cccc;
    font-size: 16px;
    font-weight: normal;
    padding: 8px 13px !important;
    border: 2px solid #00cccc;
}

.cbp-testi-img{
    text-align: center ;
}

.cbp-qtcontent blockquote{
    border-left: none;
}
.tslider blockquote footer, .tslider blockquote footer a{
    text-align: left !important;
    color:#fff !important; /*#666*/
}
.tslider blockquote p{
    color:#fff !important; /*#666*/
}
.cu-element-top {
    margin-top: 2%;
}
.cust-row-top{
    margin-top: 3%;

}




/* ADD Custom css for header*/
header .col-md-2.head-buynow-btn {
    margin-top: 10px;
    line-height: 53px;
}


/*Company Page*/
.em_company_backno{
    padding-bottom: 30px;
}
.em_company_back{
    background-color: #f7f7f7;
    padding-top: 50px;
}
.textwidget .our-latest .border-line a >h4{
    font-size: 12px;
    color: #337ab7;
    font-weight: bold;
}

.textwidget img{
    width:auto;
}
.em_comp_team .vc_col-sm-2{
    margin-left: 2.5%;
}
.em_comp_team .vc_col-sm-2 .wpb_wrapper p{
    text-align: center;
}

.em_company_curopen{
    padding: 60px;
}
.em_comp_btn{
    margin-top: 25px;
}
.em_company .wpb_content_element{
    margin-bottom: 22px !important;
}
.content-header.v3 {
    border-bottom: 1px solid #D0D0D0;
    padding: 10px 0 11px;
}
.content-header.v3 h2{
    margin-top: -10px;
}
.content-header.v3:after{
    background-color: #2c99ce;
    display: block;
    content: '';
    height: 2px;
    position: relative;
    bottom: -12px;
    width: 20%;
}
.solution_margin_row{
    margin: 50px;
}


.em_comp_btn a:hover{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 116, 173) !important;
}

.textwidget .our-latest .border-line a.read-more{
    color: #337ab7;
}

p.lead {
    margin-bottom: 0;
}
.home div#content {
    margin-bottom: 0;
}
.home #main article.page {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important; 
}
.article-content {
    padding-top: 10px;
    padding-bottom: 20px;
}
.article-content h3 a{
    text-decoration: none;
}

nav.navbar.navbar-default {
    margin-bottom: 0;
}

header.top-header{
    margin-bottom: 0px;
}
.product_overview{
    background-color: #e6f9fa;
    padding:25px 0;
}


/* Contact Page */
.em_contact fieldset input[type=submit]{  
    background: #2c99ce !important;
    border-width: 0 !important;
    border-color: #2c99ce !important;
    border-style: solid !important;
    color: #ffffff !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.em_contact fieldset input[type=submit]{ 
    background: #1c4ca2;
    border-color: #1c4ca2;
    color: #ffffff;
}

.entry-title{
    text-transform: none;
}
.entry-title a{
    text-decoration: none;    
}
.entry-title a:hover{
    color: #00a4b0;
}
.dark.footer_sec .textwidget .footer_logo{
    width: 200px;
}

.testimonials-slider small{
    display: inline-block;
    color: #fff;
}
.sol_align_right{
    float: right !important;
}
.sol_align_left{
    float: left !important;
}
/*.mobile ul li a{
    padding-right: 30px !important;    
    width: 95%;
    display: inline-block;
    
}*/
a.mobile_a{
    float: left;
}
.mobile_caret{
    content: '+';
    color: #f5f5f5;
    width: 15px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    margin-top: -8px;
}
/* thank you page */

.thnkdown {
    margin-left: 10px;
    vertical-align: baseline !important;
}
.page-id-6091 .section.section-call-to-action.light.footer_light{
    display:none;
}


/* Css of 15-09-2016 */
.content-area .cu-em-overview-right{
    padding-top:70px;
}

.footer-news-list .news-contents h4,.footer-news-list .news-contents .read-more,#text-7 p a{
    color: #00a8e1;
}.footer-news-list .news-contents h4:hover, .footer-news-list .news-contents .read-more:hover, #text-7 p a:hover{
    color: #fff;
}
.tp-bannertimer{
    visibility: hidden;
}
/* Css of 16-09-2016 */

#home-solutions-slider .border-line {
    text-align: center;
    padding-top: 15px;
}
#home-solutions-slider .border-line a {
    color:#093c70;
    text-decoration: none;
}
#home-products-slider .owl-buttons{
	position: relative;
    bottom: 297px;
}
#home-products-slider .owl-prev{
	float: left;
	color: #000;
	background: none;
	font-size: 55px;
}
#home-products-slider .owl-next{
	float: right;
	color: #000;
	background: none;
	font-size: 55px;
}

/* Solution Page dynamically */
#solutions-list .sol-title h2 {
    font-size: 30px;
    color: #2c99ce;
    text-align: left;
    font-family: Open Sans;
    font-weight: 300;
    font-style: normal;
}
#solutions-list .sol-title a,
#solutions-list .sol-title a:hover{
    text-decoration: none;
}

#solutions-list .solution-blocks{
	margin-bottom: 25px;
}
.product-heading{
	font-size: 30px;color: #093c70;text-align: left;font-family:Open Sans;font-weight:300;font-style:normal
}
.product-content .excerpt-content { margin-bottom:25px;}
#fancybox-content{
	width: 631px !important;
}
#fancybox-wrap{
	width: 652px !important	
}
.owl-theme .owl-controls .owl-page span,.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #00cccc !important;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.owl-theme .owl-controls .owl-page span,.owl-theme .owl-controls .owl-page span{
    background: #00cccc !important;
    text-indent: -9999px;
    display: block;
    width: 10px !important;
    height: 10px !important;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    border-radius: 2px !important;
   
}
.home-product-section,.home-testimonial-section,.home-solution-section {
    margin-top: 60  px;
}

/*19-09-2016*/
.el-top-contents,.right-product-topsection .el-img-bottom a {
    color: #093c70;
    font-size: 26px;
    line-height: 30px;
}
.el-pd-single-img{
	margin-bottom: 0px !important;
}

/* Job Css */
.job-list .job-contents ul{
	padding-left: 0;
}
.job-list .job-contents ul li{
	list-style-type: none;
    overflow: hidden;
    margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}
.job-list .job-contents ul li .read-more,.job-list .job-contents ul li .apply-today{
	line-height: 47px;
}
.job-list .job-contents ul li .read-more a, .job-list .job-contents ul li .apply-today a{
    color: #06a7e0;
    background-color: #ffffff;
    font-size: 14px;
    padding: 14px 20px;
    border: 2px solid #06a7e0;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.job-list .job-contents ul li .read-more a:hover, .job-list .job-contents ul li .apply-today a:hover,
.job-list .job-contents ul li .read-more a:active, .job-list .job-contents ul li .apply-today a:active{
	color: #00a8e1;
        border: 2px solid #00a8e1;
	text-decoration: none;
}

.job-list .job-contents ul li .read-more a i,.job-list .job-contents ul li .apply-today a i{
	padding:5px;
}
.job-list .job-contents .job-title, .job-list .job-contents .job-address{
	padding-top: 7px;
}
#pressrealese-shortcode .article-content{
	margin-bottom: 0px;
}
.frm_dropzone.dz-clickable.frm_single_upload{
	max-width: inherit;
}
#article-list-shortcode .wpb_cust_article{
	min-height: 220px;
	margin-bottom: 0;
}
.vc_btn3.vc_btn3-style-classic{
    color: #06a7e0 !important;
    border: 2px solid #06a7e0 !important;
    background-color: #ffffff !important;
}
.vc_btn3.vc_btn3-style-classic:hover{
    color: #0790be !important;
    border: 2px solid #0790be !important;
    background-color: #ffffff !important;
}
/* Media Qyery */
@media screen and (min-width: 768px){
        #text-7{
            float:right;
        } 
}
@media screen and (max-width: 991px){
    .callout-text{
        padding-bottom: 3%;
    }
    .navbar-primary-collapse ul li a{
        font-size: 13px;
    }
    .section.light.footer_light{
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .page-title{
        padding: 40px 0;
        margin-bottom: 24px;
    }
    .callout-button{
        padding: 0;
        text-align: center;
    }
    .video_lightbox_anchor_image{
        width: 333px;
    }
    .nav > li > a{
        padding: 10px 10px;
    }
    .nav.desktop, .navbar-nav{
        margin-top: 7px;        
    }
    .section.light.footer_light p{
        text-align: center;
    }
   
}
@media screen and (max-width: 768px){
	.discover-matt{
		text-align: center;
	}
    .navbar-toggle{
        top: -55px;
        position: absolute;
        right: 0;
    }
    .navbar-header{
        width: 100%;
        display: block;
    }
    .navbar-collapse.in{
        border: none;
    }
    
    .navbar{
        min-height: 0;
    }
    .section.dark.footer_sec{
        padding: 60px 15px;
        text-align: center;
    }
    .video_lightbox_anchor_image{
        width: 333px;
    }   
    .tslider blockquote p, .tslider blockquote footer, .tslider blockquote footer a{
        font-size: 0.9em;
    }
    .solution_margin_row{
        margin: 0px !important;
    }
    .overview_btn{
        /*margin-left: 155px;*/
        position:relative;
        top: -50px;
        text-align: center;
    	margin: 0;  
    }
    .sol_align_right .wpb_single_image.vc_align_right{
        text-align: left !important;
    }
    .white-paper-download {
    	text-align: center;
	}

    
}
@media screen and (max-width: 767px){
    .desktop{
        display: none;
    }
}

@media screen and (max-width: 749px){
    .section.light.footer_light{
        padding-bottom: 20px;
        padding-top: 15px;
    }
}
@media screen and (max-width: 480px){
.overview_btn{
        top: -35px;
    }
.page-container .page-title h1.page-heading{
		font-size: 33px;
	}
}
@media screen and (max-width: 427px){
    .section.light.footer_light{
        padding-bottom: 50px;
        padding-top: 50px;

    }
}
@media screen and (min-width: 768px){
  .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu{
        display: block;
    }
    .dropdown-menu{
        margin-top: 0;
    }
    .dropdown-toggle{
        margin-bottom: 2px;
    }
    .navbar .dropdown-toggle, .nav-tabs .dropdown-toggle{
        margin-bottom: 0;
    }
    
}
@media screen and (min-width: 768px){
    .mobile{
        display: none;
    }
}

    
@media screen and (min-width: 1170px){ 
    .row-fixed-height{
        height: 450px;
    }
}

@media screen and (max-width: 360px){ 
    .video_lightbox_anchor_image{
        width: 280px;
    }
}
.home-product-section h1{
    color:#00a8e1;
}
.tp-caption.hero--header, .hero--header{
    color:#00a8e1;
}
.home-testimonial-section h2{
    color: #fff;
}
.page_header {
	height: 450px;
}
